/* custom_styles.css */

/* Cambiar el color de fondo de la barra superior */
.navbar, .header {
    background-color: white !important;
}

/* Cambiar el color del texto y enlaces de la barra superior */
.navbar .navbar-brand, .navbar .nav-link, .header .module h1, .header .module a {
    color: black !important;
}

/* Cambiar el color de fondo del menú lateral */
.nav-sidebar {
    background-color: #f8f8f8;
}

/* Cambiar el color de los enlaces del menú lateral */
.nav-sidebar a {
    color: black;
}

/* Cambiar el color de fondo de los elementos activos del menú lateral */
.nav-sidebar .nav-item.active,
.nav-sidebar .nav-item.active:hover {
    background-color: #e7e7e7;
}
