{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/admin_custom.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'custom_admin/custom_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"> -->
    {{ block.super }}
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
      <img src="{% static 'core/Logo.png' %}" alt="Logo" style="height: 60px;">
      Calibrary
  </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

<!-- LINEA PARA MENSAJES
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ block.super }}
{% endblock %}
-->