{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/admin_custom.css' %}">
    <!-- Otros estilos opcionales -->
    {{ block.super }}
    <script type="text/javascript">
        function printQRCode(qrCodeUrl) {
            // Crear una ventana emergente
            var printWindow = window.open('', '', 'width=600,height=400');
            
            // Asegurarse de que la ventana emergente se haya creado
            if (printWindow) {
                printWindow.document.open();
                printWindow.document.write('<html><head><title>Imprimir QR</title>');
                printWindow.document.write('<style>body { text-align: center; }</style>');
                printWindow.document.write('</head><body>');
                printWindow.document.write('<img src="' + qrCodeUrl + '" style="width: 100%; height: auto;"/>');
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.onload = function() {
                    printWindow.focus();
                    printWindow.print();
                    printWindow.close();
                };
            } else {
                alert('La ventana emergente ha sido bloqueada. Por favor, permita los popups para este sitio.');
            }
        }
    </script>
{% endblock %}

{% block title  %} {% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
      <img src="{% static 'core/Logo.png' %}" alt="Logo" style="height: 60px;">
      Calibrary
  </a>
</h1>
{% endblock %}

{% block userlinks %}
  <style>
    #user-tools {
      display: flex;
      gap: 15px; /* Espacio entre los elementos */
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #user-tools li {
      margin: 0;
      padding: 0;
    }

    #user-tools a {
      text-decoration: none;
    }
  </style>
  <ul id="user-tools">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'admin:index' %}">Admin</a>
    
  </ul>
{% endblock %}

{% block nav-global %}{% endblock %}

