<!--
{% if instrument %}
    {{instrument}}
    {{instrument.location}}
    {{instrument.brand}}
    {{instrument.tag.get_technology_display}}
{% else %}
    <p>No hay instrumentos cargados con ese TAG</p>
{% endif %}
-->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Detalles del Instrumento</title>
    <!-- Ruta al archivo CSS -->
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
  <header>
    <div class="left-image">
        <img src="{% static 'core/logo.png' %}" alt="Logo" style="height: 100px;">
      </div>
      <div class="center-image">
        <img src="{% static 'core/Nombre.png' %}" alt="Nombre" style="height: 300px;">
      </div>       
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="/admin"> Admin </a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
    <h1>Detalles del Instrumento</h1>
    <p>Tag: {{ instrument.tag.id }}</p>
    <p>Magnitud: {{ instrument.tag.get_magnitude_display }}</p>
    <p>Tecnología: {{ instrument.tag.get_technology_display }}</p>
    <p>Display: {{ instrument.tag.get_display_display }}</p>
    <p>Descripción: {{ instrument.tag.description }}</p>
    <p>Ubicación: {{ instrument.location.name }}</p>
    <p>Lugar de montaje: {{ instrument.location_comments }}</p>
    <p>Marca: {{ instrument.brand }}</p>
    <p>Modelo: {{ instrument.model }}</p>
    <p>Rango: {{ instrument.range }}</p>
    <p>Unidad: {{ instrument.unit }}</p>
    <p>Conexión de proceso: {{ instrument.process_connection }}</p>
    <p>Número de serie: {{ instrument.serial_number }}</p>
    <p>Contrastable: {{ instrument.traceable }}</p>
    <p>Fecha de baja: {{ instrument.removal_date }}</p>
    <p>Razón del baja: {{ instrument.removal_reason }}</p>
    <a href="{% url 'index' %}">Volver a la página principal</a>
</body>
</html>
