<!--
{% if instrument %}
    {{instrument}}
    {{instrument.location}}
    {{instrument.brand}}
    {{instrument.tag.get_technology_display}}
{% else %}
    <p>No hay instrumentos cargados con ese TAG</p>
{% endif %}
-->
<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Instrumento</title>
</head>
<body>
    <h1>Detalles del Instrumento</h1>
    <p>Tag: {{ instrument.tag.id }}</p>
    <p>Magnitud: {{ instrument.tag.get_magnitude_display }}</p>
    <p>Tecnología: {{ instrument.tag.get_technology_display }}</p>
    <p>Display: {{ instrument.tag.get_display_display }}</p>
    <p>Descripción: {{ instrument.tag.description }}</p>
    <p>Ubicación: {{ instrument.location.name }}</p>
    <p>Lugar de montaje: {{ instrument.location_comments }}</p>
    <p>Marca: {{ instrument.brand }}</p>
    <p>Modelo: {{ instrument.model }}</p>
    <p>Rango: {{ instrument.range }}</p>
    <p>Unidad: {{ instrument.unit }}</p>
    <p>Conexión de proceso: {{ instrument.process_connection }}</p>
    <p>Número de serie: {{ instrument.serial_number }}</p>
    <p>Contrastable: {{ instrument.traceable }}</p>
    <p>Fecha de baja: {{ instrument.removal_date }}</p>
    <p>Razón del baja: {{ instrument.removal_reason }}</p>
    <a href="{% url 'index' %}">Volver a la página principal</a>
</body>
</html>
