{% extends "core/base.html" %}

{% block content %}
    <h2 class="h2">Detalles del Instrumento</h2>
    <div class="table-responsive" id="details">
    <table class="table table-hover table-xs align-middle">
     <tr>
        <td>Tag:</td>
        <td>{{ instrument.tag.id }}</td>
    </tr>
    <tr>
        <td class="right">Magnitud:</td>
        <td>{{ instrument.tag.get_magnitude_display }}</td>
    </tr>
    <tr>
        <td>Tecnología:</td>
        <td>{{ instrument.tag.get_technology_display }}</td>
    </tr>
    <tr>
        <td>Display:</td>
        <td>{{ instrument.tag.get_display_display }}</td>
    </tr>
    <tr>
        <td>Descripción:</td>
        <td>{{ instrument.tag.description }}</td>
    </tr>
    <tr>
        <td>Ubicación:</td>
        <td>{{ instrument.location.name }}</td>
    </tr>
    <tr>
        <td>Lugar de montaje:</td>
        <td>{{ instrument.location_comments }}</td>
    </tr>
    <tr>
        <td>Marca:</td>
        <td>{{ instrument.brand }}</td>
    </tr>
    <tr>
        <td>Modelo:</td>
        <td>{{ instrument.model }}</td>
    </tr>
    <tr>
        <td>Rango:</td>
        <td>{{ instrument.range }}</td>
    </tr>
    <tr>
        <td>Unidad:</td>
        <td>{{ instrument.unit }}</td>
    </tr>
    <tr>
        <td>Conexión de proceso:</td>
        <td>{{ instrument.process_connection }}</td>
    </tr>
    <tr>
        <td>Número de serie:</td>
        <td>{{ instrument.serial_number|default_if_none:"-" }}</td>
    </tr>
    <tr>
        <td>Contrastable:</td>
        <td>{{ instrument.traceable|yesno:"Si,No" }}</td>
    </tr>
    {% if instrument.removal_date %}
    <tr>
        <td>Fecha de baja:</td>
        <td>{{ instrument.removal_date }}</td>
    </tr>
    <tr>
        <td>Razón del baja:</td>
        <td>{{ instrument.removal_reason }}</td>
    </tr>
    {% endif %}
    </table>
    </div>

    <a class="btn btn-primary" href="{% url 'index' %}">Volver a la página principal</a>
{% endblock %}
