{% extends "core/base.html" %}
{% load static %}
{% block content %}
<!-- core/base.html -->
    <head>
        <link rel="icon" href="{% static 'path/to/your/favicon.ico' %}" type="image/x-icon">
        <!-- Otros enlaces y scripts -->
    </head>
    <div class="center">
    <h1 class="h2">Buscador de intrumentos</h1>
    <div id="reader-container" class="flex-container ">
        <div id="reader" style="display:none;"></div>
        <div id="animation">
            <img src="{% static "core/scan-qr-code.gif" %}" />
        </div>
    </div>
    <button class="btn btn-success" onclick="openQRScanner()">Escanear Código QR</button>
    <form id="qrForm" method="post" action="{% url 'search_item' %}">
        {% csrf_token %}
        <input type="hidden" id="qrValue" name="qr_value"/>
    </form>
    </div>
{% endblock %}
{% block extra_javascript %}
<script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
<script>
    function openQRScanner() {
        document.getElementById('reader').style.display = 'block';
        document.getElementById('animation').style.display = 'none';

        // Inicializa el escáner con opciones
        const html5QrCode = new Html5Qrcode("reader");

        // Función para manejar el escaneo exitoso
        const onScanSuccess = (decodedText, decodedResult) => {
            // Detiene el escáner una vez que se ha leído el código QR
            html5QrCode.stop().then(ignore => {
                // Oculta el lector de QR
                document.getElementById('reader').style.display = 'none';
                // Coloca el valor leído en el input oculto y envía el formulario
                document.getElementById('qrValue').value = decodedText;
                document.getElementById('qrForm').submit();
            }).catch(err => {
                console.error("Error al detener el escáner: ", err);
            });
        };

        // Función para manejar errores durante el escaneo
        const onScanError = (errorMessage) => {
            console.log(`Error de escaneo: ${errorMessage}`);
        };

        // Verifica si el navegador soporta HTTPS y si se han otorgado permisos de cámara
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    stream.getTracks().forEach(track => track.stop()); // Cierra la cámara inmediatamente después de obtener los permisos

                    // Inicia el escáner
                    html5QrCode.start({ facingMode: "environment" }, { fps: 10, qrbox: 250 }, onScanSuccess, onScanError)
                        .catch(err => {
                            console.error("Error al iniciar el escáner: ", err);
                        });
                })
                .catch(err => {
                    console.error("Error al acceder a la cámara: ", err);
                });
        } else {
            console.error("Navegador no compatible con acceso a la cámara.");
        }
    }
</script>
{% endblock %}
