{% extends "core/base.html" %}

{% block content %}
    <h1>Instrument Details</h1>
    <p>Tag ID: {{ instrument.tag.id }}</p>
    <p>Location: {{ instrument.location.name }}</p>
    <p>Description: {{ instrument.tag.description }}</p>

    <h2>Checks</h2>
    {% if checks %}
        <ul>
        {% for check in checks %}
            <li>
                <p>Date: {{ check.date }}</p>
                <p>Result: {{ check.result }}</p>
                <p>Comments: {{ check.comments }}</p>
                {% if check.attachments.all %}
                    <h4>Attachments</h4>
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Comments</th>
                        <th>Uploaded at</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for attach in check.attachments.all %}
                        <tr>
                            <td>{{ attach.name }}</td>
                            <td>{{ attach.comments }}</td>
                            <td>{{ attach.uploaded_at }}</td>
                            <td><a href="/media/{{ attach.media_path }}">Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No checks found.</p>
    {% endif %}

    <h2>Contrasts</h2>
    {% if contrasts %}
        <ul>
        {% for contrast in contrasts %}
            <li>
                <p>Date: {{ contrast.date }}</p>
                <p>Result: {{ contrast.result }}</p>
                <p>Comments: {{ contrast.comments }}</p>
                {% if contrast.attachments.all %}
                    <h4>Attachments</h4>
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Comments</th>
                        <th>Uploaded at</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for attach in contrast.attachments.all %}
                        <tr>
                            <td>{{ attach.name }}</td>
                            <td>{{ attach.comments }}</td>
                            <td>{{ attach.uploaded_at }}</td>
                            <td><a href="/media/{{ attach.media_path }}">Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No contrasts found.</p>
    {% endif %}

    <h2>SetUps</h2>
    {% if setups %}
        <ul>
        {% for setup in setups %}
            <li>
                <p>Date: {{ setup.date }}</p>
                <p>GDC Type: {{ setup.gdc_type }}</p>
                <p>GDC Number: {{ setup.gdc_number }}</p>
                <p>Comments: {{ setup.comments }}</p>
                {% if setup.attachments.all %}
                    <h4>Attachments</h4>
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Comments</th>
                        <th>Uploaded at</th>
                        <th>Download</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for attach in setup.attachments.all %}
                        <tr>
                            <td>{{ attach.name }}</td>
                            <td>{{ attach.comments }}</td>
                            <td>{{ attach.uploaded_at }}</td>
                            <td><a href="/media/{{ attach.media_path }}">Download</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>

                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No setups found.</p>
    {% endif %}

{% endblock %}