{% extends "core/base.html" %}

{% block content %}
    <style>
        .centered-header {
            text-align: center;
            margin-bottom: 30px; /* Espacio debajo del encabezado */
        }

        .instrument-details {
            font-size: 0.9em;
        }

        .instrument-details .table {
            margin-bottom: 30px;
        }

        .instrument-details h2 {
            margin-top: 40px;
        }

        .custom-btn {
            font-size: 0.8em;
            padding: 5px 10px;
            background-color: #5bc0de;
            border-color: #46b8da;
        }

        .custom-btn:hover {
            background-color: #31b0d5;
            border-color: #269abc;
        }


        .instrument-details .info-row {
            display: flex;
            flex-wrap: nowrap; /* Evita que los elementos se apilen */
            gap: 10px;
            align-items: center;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            overflow-x: auto; /* Añade scroll horizontal si el contenido es muy grande */
        }

        
        .instrument-details .info-item {
            flex: 1;
            min-width: 200px; /* Establece un ancho mínimo para cada elemento */
        }

        .instrument-details .info-item strong {
            display: block;
        }

        /* Estilo general para todas las tablas */
        .instrument-details .table th,
        .instrument-details .table td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 8px;
            min-width: 120px;
        }

        .instrument-details .table th {
            font-weight: bold;
        }
    </style>

    <!-- Mostrar alerta de error si existe un mensaje -->
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <h2 class="centered-header">{{ instrument.tag.id }}</h2>
    <div class="instrument-details">
        <div class="info-row">
        {% if instrument.removal_date %}  
                <div class="info-item">
                    <strong style="color: red;">Fecha Baja:</strong> <span style="color: red;">{{ instrument.removal_date }}</span>
                </div>
                <div class="info-item">
                    <strong style="color: red;">Motivo de la baja:</strong> <span style="color: red;">{{ instrument.removal_reason }}</span>
                </div>
        {% endif %}
    </div>
    
    <div class="instrument-details">
        <!-- Primera fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Magnitud:</strong> {{ instrument.tag.get_magnitude_display }}
            </div>
            <div class="info-item">
                <strong>Tecnología:</strong> {{ instrument.tag.get_technology_display }}
            </div>
            <div class="info-item">
                <strong>Display:</strong> {{ instrument.tag.get_display_display }}
            </div>
        </div>
        <!-- Segunda fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Descripción:</strong> {{ instrument.tag.description }}
            </div>
            <div class="info-item">
                <strong>Contrastable:</strong> {{ instrument.traceable|yesno:"Si,No" }}
            </div>
        </div>

        <!-- Tercera fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Ubicación:</strong> {{ instrument.location.name }}
            </div>
            <div class="info-item">
                <strong>Lugar de montaje:</strong> {{ instrument.location_comments }}
            </div>
        </div>

        <!-- Cuarta fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Alarma:</strong> {{ latest_alarm.alarm_set|default:"-" }}
            </div>
            <div class="info-item">
                <strong>Disparo:</strong> {{ latest_trip.trip_set|default:"-" }}
            </div>
            <div class="info-item">
                <strong>Inspección:</strong>{{ latest_check.get_result_display }} - {{ latest_check.date }}
            </div>
            <div class="info-item">
                <strong>Contraste:</strong>{{ latest_contrast.get_result_display }} - {{ latest_contrast.date }}
            </div>
        </div>

        <!-- Séptima fila de datos -->  
        <div class="info-row">
            <div class="info-item">
                <a href="{% url 'instrument_detail' instrument.tag.id %}" class="btn custom-btn">Ver más...</a>
            </div>
        </div>
    </div>
{% endblock %}

