{% extends "core/base.html" %}

{% block content %}
    <style>
        .centered-header {
            text-align: center;
            margin-bottom: 30px; /* Espacio debajo del encabezado */
        }
        .instrument-details {
            font-size: 0.9em; /* Reducir el tamaño de la letra */
        }

        .instrument-details .table {
            margin-bottom: 30px; /* Añadir espacio entre las tablas */
        }

        .instrument-details h2 {
            margin-top: 40px; /* Separar las secciones con un margen mayor */
        }

        .custom-btn {
            font-size: 0.9em; /* Tamaño de letra más pequeño */
            padding: 5px 10px; /* Ajuste de padding para hacer el botón más pequeño */
            background-color: #5bc0de; /* Color personalizado del botón */
            border-color: #46b8da; /* Color de borde del botón */
        }

        .custom-btn:hover {
            background-color: #31b0d5; /* Color del botón al hacer hover */
            border-color: #269abc; /* Color de borde al hacer hover */
        }

        /* Nueva clase para alinear en una fila */
        .instrument-details .info-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px; /* Espacio entre elementos */
            align-items: center; /* Alinear verticalmente */
            border-bottom: 1px solid #ddd; /* Línea de separación */
            padding-bottom: 10px; /* Espacio debajo del contenido de la fila */
            margin-bottom: 10px; /* Espacio entre filas */
        }

        .instrument-details .info-item {
            flex: 1; /* Ocupa el mismo espacio en la fila */
        }

        .instrument-details .info-item strong {
            display: block; /* Asegura que el texto en negrita esté en una línea separada */
        }
    </style>

    <!-- Mostrar alerta de error si existe un mensaje -->
    {% if error_message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error_message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <h2 class="centered-header">{{ instrument.tag.id }}</h2>
    <div class="instrument-details">
        <div class="info-row">
        {% if instrument.removal_date %}  
                <div class="info-item">
                    <strong style="color: red;">Fecha Baja:</strong> <span style="color: red;">{{ instrument.removal_date }}</span>
                </div>
                <div class="info-item">
                    <strong style="color: red;">Razón del baja:</strong> <span style="color: red;">{{ instrument.removal_reason }}</span>
                </div>
        {% endif %}
    </div>
    
    <div class="instrument-details">
        <!-- Primera fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Magnitud:</strong> {{ instrument.tag.get_magnitude_display }}
            </div>
            <div class="info-item">
                <strong>Tecnologia:</strong> {{ instrument.tag.get_technology_display }}
            </div>
            <div class="info-item">
                <strong> Display:</strong> {{ instrument.tag.get_display_display }}
            </div>
            
        </div>
        <!-- Segunda fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Description:</strong> {{ instrument.tag.description }}
            </div>
            <div class="info-item">
                <strong>Traceable:</strong> {{ instrument.traceable|yesno:"Si,No" }}
            </div>
        </div>

         <!-- Tercera fila de datos -->
         <div class="info-row">
            <div class="info-item">
                <strong>Ubicacion:</strong> {{ instrument.location.name }}
            </div>
            <div class="info-item">
                <strong>Lugar de montaje:</strong> {{ instrument.location_comments }}
            </div>
        </div>

        <!-- Cuarta fila de datos -->
        <div class="info-row">
            <div class="info-item">
                <strong>Alarm:</strong> {{ latest_alarm.alarm_set|default:"-" }}
            </div>
            <div class="info-item">
                <strong>Trip:</strong> {{ latest_trip.trip_set|default:"-" }}
            </div>
            <div class="info-item">
                <strong>Chequeo:</strong>{{ latest_check.get_result_display }} - {{ latest_check.date }}
            </div>
            <div class="info-item">
                <strong>Contraste:</strong>{{ latest_contrast.get_result_display }} - {{ latest_contrast.date }}
            </div>
        </div>

        <!-- Séptima fila de datos -->  
        <div class="info-row">
            <div class="info-item">
                <a href="{% url 'index' %}" class="btn custom-btn">Volver a la página principal</a>
            </div>
            <div class="info-item">
                <a href="{% url 'instrument_detail' instrument.tag.id %}" class="btn custom-btn">Ver más...</a>
            </div>
        </div>
    </div>
{% endblock %}
