@font-face {
    font-family: 'Arista';
    src: url('/static/core/fonts/Arista-Pro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


#header {
    font-family: 'Arista', sans-serif;
    background: #f9f8f8; 
}


#header h1 {
    font-size: 40px; 
    line-height: 1.5; 
}


#branding h1#site-name a {
    color: #0574c4;
}


#user-tools {
    color: #0574c4;
}


#user-tools a {
    color: #0574c4;
}


#user-tools strong {
    color: #0574c4;
}


#user-tools a[href*="/"] {
    color: #0574c4;
}


#user-tools a[href*="logout"] {
    color: #0574c4;
}