@font-face {
    font-family: 'Arista';
    src: url('/static/core/fonts/Arista-Pro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.center {
    text-align: center;
}

#reader-container {
    text-align: center;
    margin: 10px;
    min-height: 500px;
}
#reader {
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}

#animation {
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 0 10px;
}

#details tr td:first-child {
    font-weight: bold;
    text-align: right;
}
#details tr td:nth-child(2) {

    text-align: left;
}